/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: linear-gradient(5deg, var(--ifm-color-primary-darker) 0%, var(--ifm-color-primary) 35%, var(--ifm-color-primary-lightest) 100%);
}

[data-theme="light"] .heroBanner {
    text-shadow: 0 1px 5px #0003;
}

.heroBanner::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%;
    height: 200%;
    opacity: .5;
    z-index: 1;
    background-image: url("/img/pattern.svg");
    transform: translate(-50%, -50%) rotate(-5deg);
    transform-origin: center;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.heroBanner .container {
    position: relative;
    z-index: 2;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: none;
}

.buttons a {
    --ifm-button-background-color: #fff;
    --ifm-button-border-color: #fff;
    box-shadow: 0 1px 5px #0003;
}
